/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MEDIA QUERIES */

/* VARIABLES */

/* GENERAL */

* {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

body {
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
  color: #3A3B3F;
  line-height: normal;
  background-color: #FFF;
}

.section {
  padding: 36px 0;
}

.container {
  padding: 0 16px;
  position: relative;
  max-width: 1056px;
  margin: 0 auto;
}

.container--nopadding {
  padding: 0;
}

.title {
  font: 24px "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 24px;
}

.title--left {
  text-align: left;
}

.sub-title {
  text-align: center;
}

.sub-title--red {
  font-family: "Poppins-Medium";
  color: #FF3E5C;
}

.text {
  line-height: normal;
}

.text-center {
  text-align: center;
}

/* BUTTONS */

.submit-btn {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 64px;
  background-color: #5D5CC3;
  border-radius: 25px  0;
  color: #fff;
  font: 16px "Poppins-SemiBold";
  margin-top: 32px;
}

.link-btn {
  cursor: pointer;
  border: none;
  display: block;
  width: 100%;
  height: 64px;
  background-color: #FF3E5C;
  border-radius: 25px  0;
  color: #fff;
  font: 16px "Poppins-SemiBold";
  line-height: 64px;
  text-align: center;
}

/* FORMS */

.primary-form .form-row {
  width: 100%;
  margin-top: 1em;
}

.primary-form__label {
  font-size: 14px;
  line-height: 21px;
}

.primary-form__input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: 1px solid rgba(58, 59, 63, 0.15);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  padding-left: 1em;
  font-family: inherit;
}

.primary-form__input::placeholder {
  color: rgba(58, 59, 63, 0.2);
}

.primary-form__textarea {
  padding-top: 8px;
  height: unset;
  min-height: 96px;
  max-width: 100%;
  min-width: 100%;
}

.header-form .form-row {
  font-size: 1rem;
  margin-top: 0;
}

.header-form .form-row-two-col {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 464px;
}

.header-form .form-row-two-col .input {
  width: 95%;
}

/* PLAYER */

.podcast-player {
  display: flex;
  flex-direction: column;
}

.podcast-player__title .inner-bold {
  font-family: "Poppins-SemiBold";
}

.podcast-player .podcast-controls {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcast-player #podcast-playBtn {
  min-width: 54px;
  min-height: 54px;
  border-radius: 50%;
  border: 1px solid #3A3B3F;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.podcast-player #podcast-playBtn:before {
  content: '';
  position: relative;
  left: 3px;
  width: 23px;
  height: 23px;
  background: url("img/icons/Polygon_play.svg") center no-repeat;
}

.podcast-player #podcast-playBtn.playing:before {
  content: '';
  left: unset;
  width: 19px;
  height: 19px;
  background: url("img/icons/pause-solid.svg") center no-repeat;
}

#progress-bar {
  width: 100%;
  height: 2px;
  margin-left: 24px;
  background: rgba(58, 59, 63, 0.1);
}

#progress-bar__fill {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #605FC7 0%, #F35C6E 98.44%);
  position: relative;
  transition: width .2s linear;
}

#progress-bar__fill .progress-bar__pin {
  background: #FF3E5C;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -6px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

#progress-bar__fill .progress-bar__pin:hover {
  transform: scale(1.1);
}

/* HEADER */

header {
  min-height: 305px;
  position: relative;
}

header .container {
  padding-top: 0;
}

.header-main-bg {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}

.header-main-bg .header-bg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-main-bg .china {
  background: url("img/header/ChinaMainHeaderImage.png") center bottom no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: calc(100% - 70px);
  width: 45%;
  min-width: 120px;
  transform: translateX(-50%);
}

.header-main-bg .gradient-block {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #FF3E5C 0%, #5D5CC3 100%);
  border-radius: 0 0 25px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  top: 0;
}

.logo-container {
  padding: 0.5em 0 0 0;
}

.logo-container__logo {
  width: 30px;
  height: 26px;
  display: block;
}

.logo-container__name {
  margin: 5px 0 0 7px;
  display: inline-block;
  color: #3A3B3F;
  font: 0.75em "Poppins-Medium";
}

.header-content {
  margin-top: 40px;
  max-width: 55%;
  position: relative;
  padding-bottom: 30px;
}

.header-content .header-text {
  padding-left: 1em;
  transition: all .25s linear;
}

.header-content__medium {
  text-transform: uppercase;
  font: 0.75em "Poppins-Medium";
}

.header-content__title {
  font: 2em "Poppins-Bold";
  margin-bottom: 10px;
}

.header-content .greeting {
  margin-top: 44px;
  display: none;
  font: 0.5em "Poppins-Regular";
}

.header-content .greeting__text-md {
  font-family: "Poppins-Bold";
}

.subscribe-block--header {
  display: none;
  margin-top: 32px;
}

.subscribe-section {
  padding-bottom: 0;
}

.subscribe-section .container {
  padding-top: 0;
}

/*  CONTENT */

/*  SECTIONS */

/* #1 - Courses Section */

.courses-section {
  padding: 64px 0 64px 0;
}

.courses {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  margin-bottom: 32px;
}

.course:last-child {
  margin-bottom: 0;
}

.course .course-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.course .text {
  color: rgba(58, 59, 63, 0.8);
  margin-bottom: 12px;
}

.course__title {
  color: #5D5CC3;
  font: 2.5em "PermanentMarker";
  align-self: flex-end;
  margin-bottom: 18px;
  position: relative;
}

.course__title:after {
  content: '';
  display: block;
  width: 33px;
  height: 41px;
}

.course__title--live:after {
  background: url("img/courses/icons/Diamond.svg") center no-repeat;
  position: absolute;
  top: -20px;
  right: -30px;
}

.course__title--work:after {
  background: url("img/courses/icons/Dollar.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  right: -20px;
}

.course__title--love:after {
  background: url("img/courses/icons/Heart.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  right: -20px;
}

.course__img {
  position: relative;
  z-index: 1;
  width: 160px;
  overflow: hidden;
  height: 180px;
  border-radius: 0 0 25px 0;
}

.course__img img {
  position: absolute;
  display: block;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.course__img:after {
  content: '';
  display: block;
  background-color: #FF3E5C;
  width: 100%;
  height: 112px;
  border-radius: 25px 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.course__readlink {
  color: #FF3E5C;
  font: 0.875em "Poppins-SemiBold";
  display: inline-block;
  max-width: 86px;
  background: url("img/icons/chevron-right-solid.svg") right center no-repeat;
  background-size: 6px 14px;
}

.course__takelink {
  display: block;
  margin-top: 16px;
  width: 100%;
  max-width: 350px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 25px 0;
  font-family: "Poppins-SemiBold";
  background: url("img/courses/Rectangle.svg") left center no-repeat;
  background-size: 100% 100%;
  transition: all .25s linear;
}

.course__takelink:hover {
  background: unset;
  background-color: #5D5CC3;
  color: #fff;
}

.course__takelink:hover .link-inner {
  background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course__takelink .link-inner {
  transition: all .25s linear;
  background: linear-gradient(90deg, #FF3E5C 0%, #5D5CC3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course__takelink .link-inner-sm {
  font-family: "Poppins-Bold";
}

/* #2 - About Me Section */

.about-me-section {
  background-color: rgba(243, 243, 243, 0.71);
  padding: 48px 0 64px 0;
  position: relative;
}

.about-me-section .title--china-bio {
  display: none;
}

.about-china {
  display: flex;
  flex-direction: column;
}

.china-photo {
  max-width: 375px;
  height: 352px;
  background-color: #5D5CC3;
  border-radius: 25px 0;
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;
}

.china-photo__img {
  border-radius: 0 0 25px 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.china-photo .quote-block {
  display: none;
  max-width: 336px;
  min-height: 160px;
  background: #FFFFFF;
  border-radius: 40px 0px;
  position: absolute;
  bottom: -100px;
  right: -70px;
  padding: 60px 60px 49px 73px;
  font: 14px "Poppins-MediumItalic";
}

.china-photo .quote-block__text {
  position: relative;
}

.china-photo .quote-block__text:before,
.china-photo .quote-block__text:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(img/icons/quotes.svg) center no-repeat;
}

.china-photo .quote-block__text:before {
  left: -35px;
  top: -25px;
}

.china-photo .quote-block__text:after {
  right: -25px;
  bottom: -25px;
}

.china-bio {
  padding: 0 16px;
}

.china-bio .link-btn {
  margin-top: 25px;
}

.about-content p {
  margin-bottom: 16px;
}

.about-content p:last-child {
  margin-bottom: 0;
}

/* #3 - About Me Section */

.podcast-section {
  padding: 48px 0 64px 0;
}

.container--podcast-player {
  padding-top: 24px;
}

.podcast-introduce {
  width: 100%;
  min-height: 224px;
  max-height: 400px;
  background: linear-gradient(270deg, #5D5CA7 0%, #F35C6E 100%);
  border-radius: 25px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.podcast-introduce:after {
  content: '';
  position: absolute;
  width: 69px;
  height: 85px;
  background: url("img/icons/Microphone.svg") center no-repeat;
  left: 0;
  bottom: -20px;
  z-index: 1;
}

.podcast-introduce__text {
  color: #FFF;
  text-align: center;
  width: 100%;
}

.podcast-introduce__title {
  font: 32px "PermanentMarker";
}

.podcast-introduce__subtext {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
  margin-top: 16px;
}

.podcast-introduce__img {
  position: relative;
  z-index: 999;
  border-radius: 0 0 25px 0;
  object-fit: cover;
  width: 50%;
  margin-right: -5px;
  height: 97%;
  align-self: flex-end;
}

.sign-podcast {
  margin-top: 25px;
}

.sign-podcast__title {
  text-transform: uppercase;
  line-height: 36px;
  font: 20px "Poppins-Medium";
  font-weight: 500;
  margin-bottom: 0.5em;
  background: linear-gradient(90deg, #FF3E5C 0%, #5D5CC3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.follow {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.follow__img {
  position: relative;
}

.follow-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.follow-item {
  width: 300px;
  margin-bottom: 36px;
}

.follow-item:last-child {
  margin-bottom: 0;
}

.follow-img .bg-circe {
  width: 114px;
  height: 114px;
  background-color: #5D5CC3;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 4px 25px rgba(115, 115, 115, 0.2);
}

.follow-img .bg-circe-red {
  background-color: #FF3E5C;
}

.follow-img img {
  position: absolute;
  bottom: 5px;
  border-radius: 0 0 47% 50%;
}

.follow-link {
  width: 100%;
  font: 16px "Poppins-Medium";
  margin-left: 32px;
}

.follow-link__login {
  line-height: 29px;
}

.follow-link__follow {
  color: #5D5CC3;
  align-items: center;
  display: inline-flex;
  text-transform: uppercase;
}

.follow-link__follow-red {
  color: #FF3E5C;
}

.follow-link__follow .link-text {
  color: inherit;
  margin-left: 9px;
}

.follow-link__icon {
  fill: #5D5CC3;
  width: 19px;
  height: 20px;
}

.follow-link__icon-red {
  fill: #FF3E5C;
}

.follow-additional {
  margin-top: 14px;
  font-size: 12px;
  line-height: 22px;
}

/* #4 - My Blog Section */

.blog-section {
  background-color: rgba(243, 243, 243, 0.71);
}

.blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100%;
  background-color: #fff;
  border-radius: 25px 0 25px 0;
  overflow: hidden;
  max-width: 375px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 32px;
  box-shadow: 0px 4px 25px rgba(115, 115, 115, 0.1);
}

.post__img {
  width: 100%;
  border-radius: 25px 0 25px 0;
}

.post-content {
  margin-top: 10px;
  line-height: 24px;
  padding: 0 31px;
}

.post-content__title {
  font: 16px "Poppins-Medium";
  margin-bottom: 1em;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0 31px;
}

.post-info__date {
  color: rgba(58, 59, 63, 0.5);
}

.post-info__heart {
  display: flex;
  align-items: center;
}

/* #5 - In Touch Section */

.in-touch-section {
  padding-bottom: 0;
}

.in-touch-section .text {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 14px;
}

.with-me {
  text-align: center;
}

.with-me__gradient {
  font: 2em "PermanentMarker";
  background: linear-gradient(90deg, #FF3E5C 0%, #5D5CC3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.with-me__simple {
  margin: 6px 0;
  text-transform: uppercase;
}

/*  FOOTER */

footer .container {
  padding: 4em 1em 3em 1em;
}

.footer-container {
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social {
  margin: 0 auto;
  margin-top: 39px;
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.social__twitter .icon {
  width: 23px;
  height: 24px;
}

.social__instagram .icon {
  width: 21px;
  height: 24px;
}

.contact-info {
  margin-top: 36px;
}

.contact-info__title {
  font: 1rem "Poppins-SemiBold";
  text-transform: uppercase;
}

.contact-info__subtitle {
  margin-top: 12px;
  font: 1em "Poppins-Medium";
}

.contact-info__phone {
  margin-top: 22px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.address__city {
  font: 1em "Poppins-SemiBold";
}

.address__detailed {
  margin-top: 12px;
  width: 65%;
}

@media only screen and (min-width: 720px) {
  .title {
    font-size: 32px;
  }

  .sub-title {
    font-size: 18px;
  }

  .submit-btn,
  .link-btn {
    max-width: 224px;
  }

  .podcast-player {
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .podcast-player .podcast-controls {
    margin-top: 0;
    width: 70%;
  }

  .logo-container {
    font-size: 1.5em;
  }

  .logo-container__logo {
    width: 37px;
    height: 30px;
  }

  .header-content {
    margin-top: 80px;
    font-size: 1.5em;
  }

  .header-content .header-text {
    padding-left: 0;
  }

  .header-content .greeting {
    display: block;
  }

  .courses-section {
    padding: 100px 0 120px 0;
  }

  .courses {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 48px;
  }

  .course {
    margin-bottom: 0;
  }

  .about-me-section {
    padding: 64px 0 120px 0;
  }

  .china-photo {
    max-width: 400px;
    min-width: 400px;
    max-height: 460px;
    min-height: 460px;
  }

  .podcast-section {
    padding: 100px 0 82px 0;
  }

  .podcast-introduce:after {
    width: 269px;
    height: 285px;
    background-size: contain;
    left: 57%;
    top: 58%;
    transform: translate(-50%, -50%);
  }

  .podcast-introduce__title {
    font-size: 40px;
  }

  .podcast-introduce__subtext {
    font-size: 20px;
  }

  .follow {
    margin-top: 86px;
  }
}

@media only screen and (min-width: 1024px) {
  .subscribe-block--header {
    display: block;
  }

  .subscribe-section {
    display: none;
  }

  .about-me-section:before {
    content: '#GURU';
    font-family: Permanent Marker;
    font: 300px "PermanentMarker";
    line-height: 437px;
    color: rgba(93, 92, 195, 0.04);
    position: absolute;
    right: 10%;
    top: 150px;
  }

  .about-me-section .title--about-me {
    display: none;
  }

  .about-me-section .title--china-bio {
    margin-top: 16px;
    display: block;
  }

  .about-china {
    flex-direction: row;
    font-size: 20px;
  }

  .china-photo .quote-block {
    display: block;
  }

  .china-bio {
    margin-left: 100px;
  }

  .china-bio .link-btn {
    margin-top: 50px;
  }

  .about-content p {
    margin-bottom: 32px;
  }

  .sign-podcast {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sign-podcast * {
    margin: 0;
  }

  .sign-podcast .primary-form {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .sign-podcast .primary-form * {
    margin: 0;
  }

  .sign-podcast .primary-form__input {
    max-width: 224px;
  }

  .sign-podcast .primary-form__submit {
    margin-top: 16px;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    font-size: 40px;
  }

  .sub-title {
    font-size: 20px;
  }

  .logo-container {
    font-size: 2em;
  }

  .logo-container__logo {
    width: 45px;
    height: 35px;
  }

  .header-content {
    margin-top: 180px;
    padding-bottom: 130px;
    font-size: 2em;
  }

  .courses-section {
    padding: 150px 0 192px 0;
  }

  .course .course-top-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .course__title {
    align-self: flex-start;
    position: relative;
    bottom: -40px;
  }

  .course__title--live:after {
    background-size: contain;
    width: 75px;
    height: 90px;
    top: -53px;
    right: -50px;
  }

  .course__title--work:after {
    width: 61px;
    height: 63px;
    top: -33px;
    right: -49px;
  }

  .course__title--love:after {
    width: 61px;
    height: 63px;
    top: -31px;
    right: -52px;
  }

  .course__img {
    width: 100%;
    height: 360px;
  }

  .course__img:after {
    height: 256px;
  }

  .course__takelink {
    background: url("img/courses/Rectangle_small.svg") left center no-repeat;
    max-width: 224px;
  }

  .about-me-section {
    padding: 82px 0 160px 0;
  }

  .podcast-section {
    padding: 150px 0 97px 0;
  }

  .follow {
    margin-top: 150px;
  }
}