/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MEDIA QUERIES */

/* VARIABLES */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: 'Poppins-Regular',sans-serif;
  color: #3A3B3F;
  line-height: normal;
}

.container {
  padding: 3em 1em 0 1em;
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}

.container--nopadding {
  padding: 0;
}

.title {
  font: 1.5em "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 1rem;
}

.title--left {
  text-align: left;
}

.sub-title {
  text-align: center;
}

.sub-title--red {
  font-family: "Poppins-Medium";
  color: #FF3E5C;
}

/* BUTTONS */

.submit-btn {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 64px;
  background-color: #5D5CC3;
  border-radius: 25px  0;
  color: #fff;
  font-family: "Poppins-SemiBold";
}

.link {
  cursor: pointer;
  border: none;
  display: block;
  width: 100%;
  height: 64px;
  background-color: #FF3E5C;
  border-radius: 25px  0;
  color: #fff;
  font-family: "Poppins-SemiBold";
  line-height: 64px;
  text-align: center;
}

/* BUTTONS */

.podcast-player {
  padding-bottom: 64px;
}

.podcast-player__title .inner-bold {
  font-family: "Poppins-SemiBold";
}

.podcast-player .podcast-controls {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcast-player #podcast-playBtn {
  min-width: 54px;
  min-height: 54px;
  border-radius: 50%;
  border: 1px solid #3A3B3F;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.podcast-player #podcast-playBtn:before {
  content: '';
  width: 23px;
  height: 23px;
  background: url("img/icons/Polygon_play.svg") center no-repeat;
}

.podcast-player #podcast-playBtn.playing:before {
  content: '';
  width: 16px;
  height: 16px;
  background: url("img/icons/pause-solid.svg") center no-repeat;
}

#progress-bar {
  width: 100%;
  height: 2px;
  margin-left: 24px;
  background: rgba(58, 59, 63, 0.1);
}

#progress-bar__fill {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #605FC7 0%, #F35C6E 98.44%);
  position: relative;
  transition: width .2s linear;
}

#progress-bar__fill .progress-bar__pin {
  background: #FF3E5C;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -6px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

#progress-bar__fill .progress-bar__pin:hover {
  transform: scale(1.1);
}

/* HEADER */

header {
  min-height: 305px;
  position: relative;
}

header .container {
  padding: 0;
}

.gradient-block {
  position: absolute;
  width: 52%;
  height: 100%;
  right: 0;
  top: 0;
}

.gradient-block .china {
  background: url("img/header/ChinaMainHeaderImage.png") left bottom no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: calc(100% - 70px);
  width: 20%;
  min-width: 120px;
}

.gradient-block:after {
  position: absolute;
  right: 100%;
  left: 54px;
  content: '';
  width: calc(100% - 54px);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #FF3E5C 0%, #5D5CC3 100%);
  border-radius: 0 0 25px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  top: 0;
  margin-bottom: 40px;
}

.logo-container {
  padding: 0.5em 0 0 0.5em;
}

.logo-container__logo {
  width: 30px;
  height: 26px;
  display: block;
}

.logo-container__name {
  margin: 5px 0 0 7px;
  display: inline-block;
  color: #3A3B3F;
  font: 0.75em "Poppins-Medium";
}

.header-content {
  max-width: 55%;
  position: relative;
  padding-bottom: 30px;
}

.header-content .header-text {
  padding-left: 2em;
}

.header-content__medium {
  text-transform: uppercase;
  font: 0.75em "Poppins-Medium";
}

.header-content__title {
  font: 2em "Poppins-Bold";
  margin-bottom: 10px;
}

.subscribe-section .container {
  padding-top: 0;
}

.subscribe-block {
  padding-top: 2em;
}

.subscribe-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(58, 59, 63, 0.15);
  border-radius: 5px;
  margin-bottom: 1em;
  outline: none;
  padding: 0.5em 1em;
  font-size: 0.875em;
}

.subscribe-form__input::placeholder {
  color: rgba(58, 59, 63, 0.2);
}

/*  CONTENT */

/*  SECTIONS */

/* #1 - Courses Section */

.courses-section {
  padding-bottom: 4em;
}

.courses {
  max-width: 600px;
  margin: 0 auto;
}

.course {
  margin-bottom: 2em;
}

.course:last-child {
  margin-bottom: 0;
}

.course .course-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.course .text {
  color: rgba(58, 59, 63, 0.8);
  margin-bottom: 12px;
}

.course__title {
  color: #5D5CC3;
  font: 2.5em "PermanentMarker";
  align-self: flex-end;
  margin-bottom: 18px;
  position: relative;
}

.course__title:after {
  content: '';
  display: block;
}

.course__title--live:after {
  width: 33px;
  height: 41px;
  background: url("img/courses/icons/Diamond.svg") center no-repeat;
  position: absolute;
  top: -20px;
  right: -30px;
}

.course__title--work:after {
  width: 33px;
  height: 41px;
  background: url("img/courses/icons/Dollar.svg") center no-repeat;
  position: absolute;
  top: -20px;
  right: -20px;
}

.course__title--love:after {
  width: 33px;
  height: 41px;
  background: url("img/courses/icons/Heart.svg") center no-repeat;
  position: absolute;
  top: -20px;
  right: -20px;
}

.course__img {
  position: relative;
  z-index: 1;
  width: 160px;
  overflow: hidden;
  height: 180px;
  border-radius: 0 0 25px 0;
}

.course__img img {
  position: absolute;
  display: block;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.course__img:after {
  content: '';
  display: block;
  background-color: #FF3E5C;
  width: 100%;
  height: 112px;
  border-radius: 25px 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.course__readlink {
  color: #FF3E5C;
  font: 0.875em "Poppins-SemiBold";
  display: inline-block;
  padding-right: 15px;
  background: url("img/icons/chevron-right-solid.svg") right center no-repeat;
  background-size: 6px 14px;
}

.course__takelink {
  display: block;
  margin-top: 16px;
  width: 100%;
  max-width: 350px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 25px 0;
  font-family: "Poppins-SemiBold";
  background: url("img/courses/Rectangle.svg") left center no-repeat;
  background-size: 100% 100%;
}

.course__takelink .link-inner {
  background: linear-gradient(90deg, #FF3E5C 0%, #5D5CC3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #2 - About Me Section */

.about-me-section {
  background-color: rgba(243, 243, 243, 0.71);
  padding-bottom: 4em;
}

.china-photo {
  max-width: 375px;
  height: 352px;
  background-color: #5D5CC3;
  border-radius: 25px 0;
  margin: 0 auto;
}

.china-photo__img {
  border-radius: 0 0 25px 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-content p {
  margin-bottom: 1em;
}

.about-content p:last-child {
  margin-bottom: 1.5em;
}

/* #3 - About Me Section */

.container--podcast-player {
  padding-top: 24px;
}

.podcast-introduce {
  max-width: 375px;
  height: 225px;
  background: linear-gradient(270deg, #5D5CA7 0%, #F35C6E 100%);
  border-radius: 25px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.podcast-introduce:after {
  content: '';
  position: absolute;
  width: 69px;
  height: 85px;
  background: url("img/icons/Microphone.svg") left no-repeat;
  left: 0;
  bottom: -20px;
}

.podcast-introduce__text {
  color: #FFF;
  text-align: center;
}

.podcast-introduce__title {
  font: 32px "PermanentMarker";
}

.podcast-introduce__subtext {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
  margin-top: 16px;
}

.podcast-introduce__img {
  border-radius: 0 0 25px 0;
  object-fit: cover;
  width: 50%;
  margin-right: -5px;
  height: 97%;
  align-self: flex-end;
}