$image_dir:'img/';

$primaryTextColor: #3A3B3F;
$BodyBGColor: #FFF;
$redColor: #FF3E5C;
$violetColor: #5D5CC3;
$lightGreyBG: rgba(243, 243, 243, 0.71);


$mobSidePadding: 0 16px;
$mainSidePadding: 0 10%;
$tbSidePadding: 0 32px;
$lgSidePadding: 0 32px;


$noTopPadding: 16px 50px;

$Poppins: 'Poppins-Regular';
$PoppinsMedium: 'Poppins-Medium';
$PoppinsBold: 'Poppins-Bold';
$PoppinsSemiBold: 'Poppins-SemiBold';
$PoppinsMediumItalic: 'Poppins-MediumItalic';

$PermanentMarker: 'PermanentMarker';


