$image_dir:'img/';

$primaryTextColor: #3A3B3F;
$redColor: #FF3E5C;

$mobPadding: 3.875em 1em 0 1em;

$PoppinsMedium: 'Poppins-Medium';
$PoppinsBold: 'Poppins-Bold';
$PoppinsSemiBold: 'Poppins-SemiBold';

$PermanentMarker: 'PermanentMarker';


