$image_dir:'img/';

$primaryTextColor: #3A3B3F;
$redColor: #FF3E5C;
$violetColor: #5D5CC3;
$lightGreyBG: rgba(243, 243, 243, 0.71);

$mobPadding: 3em 1em 0 1em;

$Poppins: 'Poppins-Regular';
$PoppinsMedium: 'Poppins-Medium';
$PoppinsBold: 'Poppins-Bold';
$PoppinsSemiBold: 'Poppins-SemiBold';

$PermanentMarker: 'PermanentMarker';


