.course-info{
  padding: 20px 0 48px 0;
  position: relative;
  @include screen-tb{
    padding: 0;
  }
}
.cinfo{
  @include transition();
  @include screen-tb{
    width: 428px;
    padding: 30px;
    border-radius: 40px 0px;
    box-shadow: 0px 4px 25px rgba(115, 115, 115, 0.2);
    background-color: #fff;
    z-index: 99;
    bottom: -96px;;
    position: absolute;
  }
  @include screen-lp{
    width: 528px;
    padding: 50px;
  }
}
.cinfo-content{
  display: none;
  @include screen-tb{
    display: block;
  }
  &__welcome{
    @include font(24px, $PoppinsMedium);
  }
  &__title{
    @include font(64px, $PoppinsBold);
  }
  &__subtitle{
    @include font(24px, $Poppins);
    span{
    font-family: $PoppinsBold;
      
    }
  }
}
.info-list{
  margin-bottom: 40px;
  li{
    display: flex;
    margin-bottom: 16px;
    &:before{
      content:'•';
      display: block;
      margin-right: 10px;
      color: $violetColor;
    }
  } 
}

.c-details{
  background: $lightGreyBG;
}
.d-blocks{
  display: flex;
  min-height: 144px;
  align-items: center;
  justify-content: space-between;
  @include screen-tb{
    padding: 150px 0 100px 0;
  }
  .d-title{
    color: rgba(58, 59, 63, 0.5);
    @include font(14px, $PoppinsMedium);
    margin-bottom: 12px;
  }
  .d-value{
    @include font(20px, $PoppinsMedium);
    text-transform: uppercase;
  }
}

///////////////////////////////////////////////
.about-course{
  padding: 48px 0 64px 0;
  @include screen-md{
    padding: 90px 0 130px 0;
  }
  @include screen-md{
    padding: 120px 0 170px 0;
  }
  @include screen-lg{
    padding: 150px 0 204px 0;
    display: flex;
    justify-content: space-between;
  }
  .text{
    margin: 0 auto;
    max-width: 736px;
  }
}


.page-template-page-lwl .blog-section,
.blog .blog-section{
  padding: 80px 0;
  @include screen-tb{
    padding: 140px 0 100px 0;
  }
  @include screen-md{
    padding: 170px 0 100px 0;
  }

}