.courses-section{
    padding: 64px 0 64px 0;
    @include screen-tb{
      padding: 100px 0 120px 0;
    }
    @include screen-lg{
      padding: 150px 0 192px 0;
    }
} 
.courses{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include screen-lp{
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 48px;
  }
}
.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0;
    
  }
  @include screen-tb{
    margin-bottom: 0;
  }
 
  @include screen-lp{
    width: 30%;
  }
 
  .course-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @include screen-lg{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .text {
    color: rgba(58, 59, 63, 0.8);
    margin-bottom: 12px;
  }
  &__title {
    color: $violetColor;
    @include font(2.5em, $PermanentMarker);
    align-self: flex-end;
    margin-bottom: 18px;
    position: relative;
    @include screen-lg{
      align-self: flex-start;
      position: relative;
      bottom: -40px;
    }
    &:after {
      content: '';
      display: block;
      width: 33px;
      height: 41px;
    }
    &--live:after{
      background: url("#{$image_dir}courses/icons/Diamond.svg") center no-repeat;
      position: absolute;
      top: -20px;
      right: -30px;
      @include screen-lg{
        background-size: contain;
        width: 75px;
        height: 90px;
        top: -53px;
        right: -50px;
      }
    }
    &--work:after{
      background: url("#{$image_dir}courses/icons/Dollar.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: -20px;
      right: -20px;
      @include screen-lg{
        width: 61px;
        height: 63px;
        top: -33px;
        right: -49px;
      }
    }
    &--love:after{
      background: url("#{$image_dir}courses/icons/Heart.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: -20px;
      right: -20px;
      @include screen-lg{
        width: 61px;
        height: 63px;
        top: -31px;
        right: -52px;
      }
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    max-width: 160px;
    width: 45%;
    overflow: hidden;
    height: 180px;
    border-radius: 0 0 25px 0;
    @include screen-lg{
      width:100%;
      height: 360px;
      max-width: unset;
    }
    img {
      position: absolute;
      display: block;
      bottom: 0;
      margin: 0 auto;
      width: 100%;
    }
    &:after {
      content: '';
      display: block;
      background-color: $redColor;
      width: 100%;
      height: 112px;
      border-radius: 25px 0;
      position: absolute;
      bottom: 0;
      z-index: -1;
      @include screen-lg{
        height: 256px;
      }
    }
  }
  &__readlink {
    color: $redColor;
    @include font(0.875em, $PoppinsSemiBold);
    display: inline-block;
    max-width: 86px;
    background: url("#{$image_dir}icons/chevron-right-solid.svg") right center no-repeat;
    background-size: 6px 14px;
  }
  &__take-btn {
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 32px;
    width: 100%;
    max-width: 350px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 25px 0;
    font-family: $PoppinsSemiBold;
    font-size: 16px;
    background: url("#{$image_dir}courses/Rectangle.svg") left center no-repeat;
    background-size: 100% 100%;
    @include transition;
    outline: none;
    &:hover{
      background:unset;
      background-color: $violetColor;
      color: #fff;
    }
    &:hover .link-inner{
      background: linear-gradient(90deg,#FFF 0%, #FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include screen-lg{
      background: url("#{$image_dir}courses/Rectangle_small.svg") left center no-repeat;
      max-width: 224px;
    }
    .link-inner{
      @include transition;
      background: linear-gradient(90deg,$redColor 0%, $violetColor 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      &-sm{ 
        font-family: $PoppinsBold;
      }
    }
  }
} 