.bio-section{
  .clear-padding{
    padding: 0;
  }
}    

.title-block{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name{
    @include font(32px, $PermanentMarker);
    background: linear-gradient(180deg, $redColor 0%, $violetColor 100%);
    text-align: center;
    width: 50%;
    padding: 0 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title-img{
  max-width: 375px;
  width: 50%;
  height: 192px;
  background: linear-gradient(180deg, $redColor 0%, $violetColor 100%);
  border-radius: 25px 0;
  margin-bottom: 24px;
  position: relative;
  @include screen-tb{
    max-width: 400px;
    min-width: 400px;
    max-height: 460px;
    min-height: 460px;
  }
  &__img{
    border-radius: 0 0 25px 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.greeting{
  margin-top: 16px;
  @include font(1em,$Poppins);
  &__text-md{
    font-family: $PoppinsBold;
  }
  @include screen-tb{
    display: block;
  }
}

.bio-content{
  margin-top: 60px;
  &__title{
    @include font(24px, $PoppinsSemiBold);
    margin-bottom: 16px;
  }
  p{
    margin-bottom: 20px;
  }
}