// Small devices
@mixin font($size,$family){
  font:$size $family;
}

@mixin transition{
  transition: all .25s linear;
}

@mixin box($width,$height){
  width: $width;
  height: $height;
}



//@mixin between($min,$max){
//  @media (min-width:$min) and (max-width:$max) {
//    @content;
//  }
//}