.submit-btn{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0 30px;
  height: 64px;
  min-width: 260px;
  width: 100%;
  background-color: $violetColor;
  border-radius: 25px  0;
  color: #fff;
  @include font(16px,$PoppinsSemiBold);
  margin-top: 32px; 
  &-transparent{
    background-color: transparent;
    color: $violetColor;
    border: 2px solid #5D5CC3;
  }
}   

.link-btn{
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0 30px;
  height: 64px;
  min-width: 260px;
  width: 100%;
  background-color: $redColor;
  border-radius: 25px  0;
  color: #fff;
  @include font(16px, $PoppinsSemiBold);
  line-height: 64px;
  text-align: center;
  outline: none;
  &-center{
    text-align: center;
  }
}
.submit-btn,
.link-btn{
  @include screen-tb{
    max-width: 350px;
    width: unset;
  }
}
.takeBtn{
  border:none;
  cursor: pointer;
}