*{
  box-sizing: border-box;
}
body{
  font-size: 1em;
  font-family: 'Poppins-Regular',sans-serif;
  color: $primaryTextColor;
}

.container{
  padding: $mobPadding;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.title{
  @include font(1.5em,$PoppinsSemiBold);
  text-align: center;
  margin-bottom: 1rem;
}

.sub-title{
  text-align: center;
  &--red{
    font-family: $PoppinsMedium;
    color: $redColor;

  }
}
