*{
  box-sizing: border-box;
  text-overflow: ellipsis;
}  
body{ 
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
  color: $primaryTextColor; 
  line-height: normal;
  background-color: $BodyBGColor;
}
 .section{
   padding: 36px 0;
 }
.container{
  padding: $mobSidePadding;
  position: relative;
  max-width: 1056px;
  margin: 0 auto;
  &--nopadding{
    padding:0;
  }
}

.title{
  @include font(24px,$PoppinsSemiBold);
  text-align: center;
  margin-bottom: 24px;
  &--left{
    text-align: left;
  }
  @include screen-tb{
    font-size: 32px;
  }
  @include screen-lg{
    font-size: 40px;
  }
} 

.sub-title{ 
  text-align: center;
  &--red{
    font-family: $PoppinsMedium;
    color: $redColor;
  }
  @include screen-tb{
    font-size: 18px;
  }
  @include screen-lg{
    font-size: 20px;
  }
}
//FIXME
.text{
  line-height: normal;
  &-center{
    text-align: center;
  }
}
