*{
  box-sizing: border-box;
}
body{ 
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
  color: $primaryTextColor;
  line-height: normal;
  background-color: $BodyBGColor;
}
 
.container{
  padding: $mobPadding;
  position: relative;
  max-width: 1056px;
  margin: 0 auto;
  &--nopadding{
    padding:0;
  }
  &--notoppadding{
    padding: 0 1em 0 1em;
  }
}

.title{
  @include font(1.5em,$PoppinsSemiBold);
  text-align: center;
  margin-bottom: 1.25rem;
  &--left{
    text-align: left;
  }
} 

.sub-title{
  text-align: center;
  &--red{
    font-family: $PoppinsMedium;
    color: $redColor;
  }
}
//FIXME
.text{
  line-height: normal;
  &-center{
    text-align: center;
  }
}
