.container--podcast-player{
  padding-top: 24px;
  padding-bottom: 3em;
}

.podcast-introduce{
  max-width: 375px;
  height: 225px;
  background: linear-gradient(270deg, #5D5CA7 0%, #F35C6E 100%);
  border-radius: 25px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 69px;
    height: 85px;
    background: url("#{$image_dir}icons/Microphone.svg") left no-repeat;
    left: 0;
    bottom: -20px;
  }
  &__text{
    color: #FFF;
    text-align: center;
  }
  &__title{
    @include font(32px, $PermanentMarker);
  }
  &__subtext{
    font-family: $PoppinsMedium;
    text-transform: uppercase;
    margin-top: 16px;
  }
  &__img{
    border-radius: 0 0 25px 0;
    object-fit: cover;
    width: 50%;
    margin-right: -5px;
    height: 97%;
    align-self: flex-end;
  }
}

.sign-podcast{
  margin-top: 25px;
  &__title{
    text-transform: uppercase;
    line-height: 36px;
    @include font(20px,$PoppinsMedium);
    font-weight: 500;
    margin-bottom: 0.5em;

    background: linear-gradient(90deg,$redColor 0%, $violetColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.follow{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  &__img{
    position: relative;
  }
}
.follow-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.follow-item{
  width: 300px;
  margin-bottom: 36px;
  &:last-child{
    margin-bottom: 0;
  }
}
.follow-img{
  .bg-circe{
    width: 114px;
    height: 114px;
    background-color: $violetColor;
    border-radius: 50%;
    border:5px solid #fff;
    box-shadow: 0px 4px 25px rgba(115, 115, 115, 0.2);
  }
  img{
    position: absolute;
    bottom: 5px;
    border-radius: 0 0 47% 50%;
  }
}
.follow-link{
  width: 100%;
  @include font(16px,$PoppinsMedium);
  margin-left: 32px;
  &__login{
    line-height: 29px;
  }
  &__follow{
    color: $violetColor;
    align-items: center;
    display: inline-flex;
    text-transform: uppercase;
    .link-text{
      color: inherit;
    }
  }
  &__icon{
    fill: $violetColor;
    width: 19px;
    height: 20px;
    margin-right: 9px;
  }
  
}
.follow-item-red{
  .bg-circe{
    background-color: $redColor;
  }
  .follow-link{
    &__follow{
      color: $redColor;
    }
    &__icon{
      fill: $redColor;
    }
  }
}

.follow-additional{
  margin-top: 14px;
  font-size: 12px;
  line-height: 22px;
}